@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

/*Sofia Sans*/
:root {
  --color-primary: #ff0055;
  --color-secondary: #ff4683;
  --color-tertiary: #fe6a9b;
  --color-div: #ffb0ca;
  --color-bg: #fef2f4;
  --color-dark: #82002b;
}

#app {
  margin: auto;
  margin: 20px;
  font-weight: normal;
}

body {
  background-color: var(--color-bg);
}

* {
  text-decoration: none;
  color: var(--color-secondary);
  font-family: 'Sofia Sans', sans-serif;
}