@import './base.css';

#app {
  margin: auto;
  margin: 20px;
  font-weight: normal;
}

body{
  background-color: var(--color-bg);

}
*{
  text-decoration: none;
  color: var(--color-secondary);
  font-family: 'Sofia Sans', sans-serif;
}

